$extra-large-size: 20px;
$large-size: 16px;
$normal-size: 14px;
$small-size: 12px;

$background-color: rgba(252,252,252,0);
$title-color: #666666;
$subtitle-color: #999999;

$main-color1: #239673;
$main-color2: #67AD98;
$main-color3: #6BE6C1;
$main-color4: #91F3D5;
$main-color5: #ABF3DD;

$main-color1: #A65327;
$main-color2: #BF8D73;
$main-color3: #FFA677;
$main-color4: #FFBC99;
$main-color5: #FFCEB4;
