$extra-large-size: 22px;
$large-size: 18px;
$normal-size: 16px;
$small-size: 12px;

$background-color: rgba(252,252,252,0);
$title-color: #fff;
$subtitle-color: #999999;
$text-color: #c1c1c1;
$show-color: #fff;

//$main-color1: #239673;
//$main-color2: #67AD98;
//$main-color3: #6BE6C1;
//$main-color4: #91F3D5;
//$main-color5: #ABF3DD;
//
//$opposite-color1: #A65327;
//$opposite-color2: #BF8D73;
//$opposite-color3: #FFA677;
//$opposite-color4: #FFBC99;
//$opposite-color5: #FFCEB4;

$background-color: rgba(0, 0, 0, 0.7);
$shadow-color: rgba(0, 0, 0, 0.4);
